
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 95%
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
  }

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }

  .scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
  }

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 200%;
    max-width: 20rem;
    height: 0.3rem;
    background-color: #2e3f5046;
    border-radius: 2rem;
    border-color: #328ae2 !important;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: .5rem;
  padding-left: .5rem;
}

.form-control {
  display: block;
  font-family: 'Lato', sans-serif;
}

h5 > .btn {
  padding: 0;
  border: 0;
  background: none;
}

.card {
  border: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, .15);

}

.card-header {
  border: 0;
  background-color: white;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  background: rgba(95, 4, 4, 0.39);
}

.btn-send:hover {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  background: rgba(95, 4, 4, 0.685);
}